#   +--------------------------------------------+
#   |  Configuration                             |
#   +--------------------------------------------+
.env


#   +--------------------------------------------+
#   |  Vendor                                    |
#   +--------------------------------------------+
/vendor


#   +--------------------------------------------+
#   |  Generated & temporary                     |
#   +--------------------------------------------+
/log/*
/temp/*
/node_modules


#   +--------------------------------------------+
#   |  Storage                                   |
#   +--------------------------------------------+
/storage/*
/public/storage/*


#   +--------------------------------------------+
#   |  IDE & Platform ballast                    |
#   +--------------------------------------------+
/nbproject
/.idea
.DS_Store
._.DS_Store
._.env


#   +--------------------------------------------+
#   |  Keep                                      |
#   +--------------------------------------------+
!.gitignore
!.htaccess
!.gitkeep
!/storage/.gitkeep
!/public/storage/.gitkeep
!/log/.gitkeep
!/temp/.gitkeep
